{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4 class="mt-2 mb-2">{% trans "Change Password" %}</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change mb-2">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="flex mt-2">
                      <button type="submit" name="action" class="btn btn-custom btn-block">{% trans "Change Password" %}</button>
                      <a href="{% url 'profile' %}" class="btn btn-secondary btn-block text-center mt-2">{% trans "Cancel" %}</a>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
