{% extends "base.html" %}
{% load static %}

{% block content %}

    <section class="checkout">
        <div class="container">
            <h1 class="cart-heading">Shopping Cart</h1>
            <div class="grid-container">
                <div class="main">
                    <div class="grid">
                        <!-- checkout col -->

                        {% if items %}
                            {% for item in items %}
                                <div class="col-checkout flex-container"> 
                                    <img src="{{ item.product.image.url }}" alt="{{item.product.name}}">
                                    <p class="Item-name">{{ item.product.name }}</p>
                                    <div class="quantity-container">
                                        <p class="price"> R {{ item.get_total|floatformat:2 }}</p>
                                        <div class="quantity">
                                            <label for="Quantity">Quantity:</label>
                                            <p class="mr-2">{{item.quantity}}</p>
                                            
                                            <div class="con">
                                                <a href="#" class="update-cart" data-product="{{item.product.id}}" data-add="add"><i class="fa fa-caret-up fx-2" aria-hidden="true"></i></a>
                            
                                                <a href="#" class="update-cart" data-product="{{item.product.id}}" data-add="remove"><i class="fa fa-caret-down fx-2" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    <div class="action">
                                        <a href="#" class="btn-checkout">
                                            <i class="fas fa-heart heart-mobile"></i>
                                            <span class="checkout-text">Move to list</span> 
                                        </a> 
                                        <a href="#" class="btn-checkout btn-remove" data-product="{{item.product.id}}">
                                            <i class="fa fa-trash bin"></i> 
                                            <span class="checkout-text">Remove</span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="col-checkout flex-2"> 
                            <h2 class="text-center mt-4 mb-2">Shopping Cart Empty</h2>
                            <a href="{% url 'home' %}" class="btn btn-secondary mb-2">Continue Shopping</a>
                        </div>

                        {% endif %}


                      
                        <!-- endCheckout col -->
                    </div>
                </div>
                <div class="sidebar">
                    <div class="grid">
                        <div class="col-side">
                            <p>Cary Summary</p>
                            
                            <h3 class="mt-2 mb-2 flex"><span>Total: (Item:{{ order.get_cart_items }})</span>  <span class="price">R {{ order.get_cart_total|floatformat:2 }}</span></h3>
                            <!-- <p class="mb-3">Items : {{ order.get_cart_items }}</p> -->

                            <a href="{% url 'checkout' %}" class="btn btn-custom btn-block mb-2">Proceed to Checkout</a>
                        </div>
                        <div class="col-side mobile-hide">
                           <p>Secure checkout</p> 
                           <p>Many ways to pay</p>
                           <p>Fast, reliable delivery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}